# 1. 연습 데이터 생성

### df4, df5, df6 데이터 생성

In [14]:
import pandas as pd

df4 = pd.DataFrame({
        "A": ["A0", "A1", "A2", "A3"],
        "B": ["B0", "B1", "B2", "B3"],
        "C": ["C0", "C1", "C2", "C3"],
        "D": ["D0", "D1", "D2", "D3"]})

df5 = pd.DataFrame({
        "E": ["E4", "E5", "E6", "E7"],
        "F": ["F4", "F5", "F6", "F7"],
        "G": ["G4", "G5", "G6", "G7"],
        "H": ["H4", "H5", "H6", "H7"]})

df6 = pd.DataFrame({
        "I": ["I8", "I9", "I10", "I11"],
        "J": ["J8", "J9", "J10", "J11"],
        "K": ["K8", "K9", "K10", "K11"],
        "L": ["L8", "L9", "L10", "L11"]})

# 2. concat을 이용한 데이터 결합
세로 결합이 되면서 nan값이 발생한다.

In [11]:
result = pd.concat([df4, df5, df6])
result

     A    B    C    D    E    F    G    H    I    J    K    L
0   A0   B0   C0   D0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1   A1   B1   C1   D1  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2   A2   B2   C2   D2  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
3   A3   B3   C3   D3  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
0  NaN  NaN  NaN  NaN   E4   F4   G4   H4  NaN  NaN  NaN  NaN
1  NaN  NaN  NaN  NaN   E5   F5   G5   H5  NaN  NaN  NaN  NaN
2  NaN  NaN  NaN  NaN   E6   F6   G6   H6  NaN  NaN  NaN  NaN
3  NaN  NaN  NaN  NaN   E7   F7   G7   H7  NaN  NaN  NaN  NaN
0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   I8   J8   K8   L8
1  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   I9   J9   K9   L9
2  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  I10  J10  K10  L10
3  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  I11  J11  K11  L11

# 3. concat의 parameter 변경
같은 index를 가지는 데이터를 결합하기 위해서 가로 결합을 실행한다.

In [13]:
result = pd.concat([df4, df5, df6],axis = 1)
result

    A   B   C   D   E   F   G   H    I    J    K    L
0  A0  B0  C0  D0  E4  F4  G4  H4   I8   J8   K8   L8
1  A1  B1  C1  D1  E5  F5  G5  H5   I9   J9   K9   L9
2  A2  B2  C2  D2  E6  F6  G6  H6  I10  J10  K10  L10
3  A3  B3  C3  D3  E7  F7  G7  H7  I11  J11  K11  L11