# 1. 연습 데이터 생성
fitness_1, fitness_2 파일을 생성하기 위해 

fitness_prac.csv 파일을 사용하였습니다.

## fitness_prac.csv 파일을 불러오기

In [1]:
import pandas as pd

dir_ ='/Users/dasol/Documents/GitHub/Big-Data-Analysis/POSCO_classnote/'
df = pd.read_csv(dir_+'02.BigData분석/dataHandling-main/data/data/fitness_prac_n.csv', engine='python')
df

,name,gender,age,agegroup,weight,oxy,runtime,runpulse,restpulse,maxpulse
0,Donna,2,42,40대,68.15,59.571,8.17,166,40,172
1,Gracie,2,38,30대,81.87,60.055,8.63,170,48,186
2,Luanne,2,43,40대,85.84,54.297,8.65,156,45,168
3,Mimi,2,50,50대,70.87,54.625,8.92,146,48,155
4,Chris,1,49,40대,NaN,49.156,8.95,180,44,185
5,Allen,1,38,30대,89.02,49.874,9.22,178,55,180
6,Nancy,2,49,40대,76.32,48.673,9.40,186,56,188
7,Patty,2,52,50대,76.32,45.441,9.63,164,48,166
8,Suzanne,2,57,50대,59.08,50.545,9.93,148,49,155
9,Teresa,2,51,50대,77.91,46.672,10.00,162,48,168
10,Bob,1,39,30대,75.07,45.313,10.07,185,62,185
11,Harriett,2,49,40대,73.37,50.388,10.08,168,67,168
12,Jane,2,44,40대,73.03,50.541,10.13,168,45,168
13,Harold,1,48,40대,91.63,46.774,10.25,162,48,164
14,Sammy,5,54,50대,83.12,51.855,10.33,166,50,170
15,Buffy,2,52,50대,73.71,45.790,10.47,186,59,188
16,Trent,1,38,30대,82.78,47.467,10.50,170,53,172
17,Jackie,2,47,40대,79.15,47.273,10.60,162,47,164
18,Ralph,1,43,40대,NaN,49.091,10.85,162,64,170
19,Jack,1,51,50대,69.63,40.836,10.95,168,57,172
20,Annie,2,51,50대,67.25,45.118,11.08,172,48,172
21,Kate,2,45,40대,66.45,44.754,11.12,176,51,176
22,Carl,1,54,50대,79.38,46.080,11.17,156,62,165
23,Don,1,44,40대,89.47,44.609,11.37,178,62,182
24,Effie,2,48,40대,61.24,47.920,11.50,170,52,176
25,George,1,37,30대,77.45,44.811,11.63,176,58,176
26,Iris,2,39,30대,75.98,45.681,11.95,176,70,180
27,Mark,1,57,50대,73.37,39.407,12.63,174,58,176
28,Steve,1,54,50대,91.63,39.203,12.88,168,144,172
29,Vaughn,1,44,40대,81.42,39.442,13.08,174,63,176
30,William,1,45,40대,87.66,37.388,14.03,186,56,192

## 이상치 처리
gender==5 => 쿼리를 사용하여 라벨이 5이하인 데이터만 반환하여 사용


## gender 라벨이 숫자이므로 여성/남성으로 변환


gender==2 => 여성으로 변환

gender==1 => 남성으로 변환

In [2]:
df = df.query("gender <5")
df.replace({'gender': 2}, '여성', inplace=True)
df.replace({'gender': 1}, '남성', inplace=True)
df.head()

/Users/dasol/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:1745: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(ilocs[0], value)

,name,gender,age,agegroup,weight,oxy,runtime,runpulse,restpulse,maxpulse
0,Donna,여성,42,40대,68.15,59.571,8.17,166,40,172
1,Gracie,여성,38,30대,81.87,60.055,8.63,170,48,186
2,Luanne,여성,43,40대,85.84,54.297,8.65,156,45,168
3,Mimi,여성,50,50대,70.87,54.625,8.92,146,48,155
4,Chris,남성,49,40대,NaN,49.156,8.95,180,44,185

## FITNESS_1와 FITNESS_2 데이터 프레임 생성

In [4]:
left = df[['name', 'gender', 'age', 'agegroup', 'weight']]

right = df[['name', 'gender', 'age', 'oxy', 'runtime',
       'runpulse', 'restpulse', 'maxpulse']]

# 2. merge를 이용한 결합
병합할때 사용할 index를 'name'으로 사용하여 병합하였습니다.

In [9]:
result = pd.merge(left, right, on=['name'])
result

,name,gender_x,age_x,agegroup,weight,gender_y,age_y,oxy,runtime,runpulse,restpulse,maxpulse
0,Donna,여성,42,40대,68.15,여성,42,59.571,8.17,166,40,172
1,Gracie,여성,38,30대,81.87,여성,38,60.055,8.63,170,48,186
2,Luanne,여성,43,40대,85.84,여성,43,54.297,8.65,156,45,168
3,Mimi,여성,50,50대,70.87,여성,50,54.625,8.92,146,48,155
4,Chris,남성,49,40대,NaN,남성,49,49.156,8.95,180,44,185
5,Allen,남성,38,30대,89.02,남성,38,49.874,9.22,178,55,180
6,Nancy,여성,49,40대,76.32,여성,49,48.673,9.40,186,56,188
7,Patty,여성,52,50대,76.32,여성,52,45.441,9.63,164,48,166
8,Suzanne,여성,57,50대,59.08,여성,57,50.545,9.93,148,49,155
9,Teresa,여성,51,50대,77.91,여성,51,46.672,10.00,162,48,168
10,Bob,남성,39,30대,75.07,남성,39,45.313,10.07,185,62,185
11,Harriett,여성,49,40대,73.37,여성,49,50.388,10.08,168,67,168
12,Jane,여성,44,40대,73.03,여성,44,50.541,10.13,168,45,168
13,Harold,남성,48,40대,91.63,남성,48,46.774,10.25,162,48,164
14,Sammy,5,54,50대,83.12,5,54,51.855,10.33,166,50,170
15,Buffy,여성,52,50대,73.71,여성,52,45.790,10.47,186,59,188
16,Trent,남성,38,30대,82.78,남성,38,47.467,10.50,170,53,172
17,Jackie,여성,47,40대,79.15,여성,47,47.273,10.60,162,47,164
18,Ralph,남성,43,40대,NaN,남성,43,49.091,10.85,162,64,170
19,Jack,남성,51,50대,69.63,남성,51,40.836,10.95,168,57,172
20,Annie,여성,51,50대,67.25,여성,51,45.118,11.08,172,48,172
21,Kate,여성,45,40대,66.45,여성,45,44.754,11.12,176,51,176
22,Carl,남성,54,50대,79.38,남성,54,46.080,11.17,156,62,165
23,Don,남성,44,40대,89.47,남성,44,44.609,11.37,178,62,182
24,Effie,여성,48,40대,61.24,여성,48,47.920,11.50,170,52,176
25,George,남성,37,30대,77.45,남성,37,44.811,11.63,176,58,176
26,Iris,여성,39,30대,75.98,여성,39,45.681,11.95,176,70,180
27,Mark,남성,57,50대,73.37,남성,57,39.407,12.63,174,58,176
28,Steve,남성,54,50대,91.63,남성,54,39.203,12.88,168,144,172
29,Vaughn,남성,44,40대,81.42,남성,44,39.442,13.08,174,63,176
30,William,남성,45,40대,87.66,남성,45,37.388,14.03,186,56,192